.agent/
.opencode/
data/
output/

# cache 
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest 
.pytest_cache/

# test 
tests/

# env 
.env
.env.local
.env.prod
.env.dev
.venv/

# error figure
error/

# ui prompt 
frontend/frontend_prompt.md
test_*.md
*.tar

*.parquet
.DS_Store 
luat_lao_dong_schema.json
luocdo.html
.codex/*
.env.local.old
.vercel
.env*.local
